.button__container{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width:100%;
  margin: 2.4rem auto;
}

.button__container>button{
  outline:none;
  border:none;
  background-color: var(--background-ligth-color-2);
  padding:.4rem 2rem;
  box-shadow:none;
  font-size:inherit;
  color:var(--white-color);
  cursor: pointer;
  transition: all .4s ease-in-out;

}

.button__container>button:not(:last-child){
  margin-right: .5rem;
}

.button__container>button:hover{
  background-color: var(--primary-color);
}

.button__container>button:active,.button__container>button:focus{
  background-color:var(--primary-color);
}
