.contactItem__container{
  padding: 1.5rem 2rem;
  background-color: var(--background-dark-grey);
  display: flex;
  align-items: center;

}
.contactItem__container:not(:last-child){
  margin-bottom: 2.5rem;
}
.contactitem__leftcontent {
  padding: 1.5rem;
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.5rem;

}
.contactitem__leftcontent >svg{
  font-size: 2.3rem;
}
.contactitem__rightcontent >h6{
color: var(--white-color);
font-size: 1.2rem;
padding: .6rem;

}

.contactitem__rightcontent >p{

padding: .1rem;

}
