.contact__section{
/* display: flex;
justify-content: space-between; */
display: grid;
grid-template-columns: repeat(2,1fr);
grid-column-gap: 2rem;
}
@media screen and (max-width:978px){
  .contact__section{

  grid-template-columns: repeat(1,1fr);

  }

  .left__content{

  max-width: 100% !important;
  padding-left: 0 !important;

  }
  .right__content{
    /* display: flex;

    flex-direction: column; */
    padding-left: 0 !important;
  }

  .form__button{
    margin-bottom: 3rem
  }
  .form{
  min-width: 50vw;
  }
}

.contactPage__container{
  display: grid;
  grid-template-columns:repeat(2,1fr);
  grid-column-gap: 11rem;


}
.left__content{

width: 200%;
padding-left: 10px;

}
.right__content{
  /* display: flex;

  flex-direction: column; */
  /* padding-left: 175px; */
  width: 100%;
}
.form{
width: 25vw;
}
.form>.form__field{
  margin-top: 2rem;
  position: relative;
  width: 100%;
}
.form>.form__field>label{
position: absolute;
left:20px;
top:-19px;
display: inline-block;
background-color: var(--background-dark-color);
padding:0 .5rem;
color: inherit;

}

.form>.form__field>input{
  border:1px solid var(--border-color);
  outline:none;
  background: transparent;
  height: 50px;
  padding:0 15px;
  width: 100%;
  color: inherit;

}
.text__area>textarea{
  background-color: transparent;
  border:1px solid var(--border-color);
  outline: none;
  color: inherit;
  width: 100%;
  padding: .8rem 1rem;
}

.contact__title >h4{
  color:var(--white-color);
  padding:1rem;
  font-size: 1.8rem;
}
