.btn1 {

    color:#70c2f2;
    border:2px solid #70c2f2;
    /* background:#DDD;
    opacity: 0.3; */
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    vertical-align:middle;
    max-width: 200px;
    padding: 5px;
    text-align: center;
    padding-left: 2px;
    margin-top: 10px;
    border-radius: 3px;

    transition-timing-function: ease-in;
    transition: all 0.5s;


}
.btn:active {
    color:red;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}
.btn1:hover{
   background:#70c2f2;
   color:#041a25;
}

.home__container{
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;
min-height: 80vh;
}
