.home__container{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
  overflow: hidden;
   width: 100vw;
}

.circle{
  position: relative;
  width: 60vh;
  height: 60vh;
  background: linear-gradient(#33ccff,#ff0066);
  border-radius: 50%;
  animation: animate 0.5s linear infinite;

}
@keyframes animate {
  from{
    transform:rotate(8deg);
  }
  to{
    transform:rotate(360deg);
  }
}
.circle::after{
  content:'';
  position: absolute;
  top:35px;
  right:35px;
  bottom: 35px;
  left: 35px;
  background-color: black;
  border-radius: 50%;
}
.circle span{
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#33ccff,#ff0066);
  border-radius: 50%;
}
.circle span:nth-child(1){
  filter:blur(5px);
}

.circle span:nth-child(2){
  filter:blur(10px);
}

.circle span:nth-child(3){
  filter:blur(20px);
}

.circle span:nth-child(4){
  filter:blur(55px);
}

/*

.home__container{
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #102eff, #d2379b);
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    overflow: hidden;
     width: 100vw;
}

.btn1 {

    color:#70c2f2;
    border:2px solid #70c2f2;

    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    vertical-align:middle;
    max-width: 200px;
    padding: 5px;
    text-align: center;
    padding-left: 2px;
    margin-top: 10px;
    border-radius: 3px;

    transition-timing-function: ease-in;
    transition: all 0.5s;


}
.btn:active {
    color:red;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}
.btn1:hover{
   background:#70c2f2;
   color:#041a25;
}

.home__container{
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;
min-height: 80vh;
} */
