.image__container{
  display: flex;
  margin-top: 3rem;
}
.about-info{
  display: flex;
}
.left-content{
  width: 100%;

}
.left-content>img{
  width: 80%;
  height: 100%;
  object-fit: cover;

}
.right-content > h4{
  font-size: 2rem;
  color:var(--white-color);
}
.right-content> h4>span{
  font-size: 2rem;
  color: var(--primary-color);

}
.paragraph{
   padding: 1rem 0;
   font-weight: 600;
}

.about-info{
  display: flex;
}
.info-title{
padding-right: 3rem;
}
.info >p,.info-title>p{
  padding: .3rem 0;
  font-size: .85rem;
  /* width: 6rem; */
}

@media screen and (max-width:1000px){
  .image__container{
    flex-direction: column;
  }
  .left-content{margin-bottom: 2rem;}
}
