.all{
  padding: 5rem;
}

.innerLayout {
  padding: 5rem 0 !important;
}
@media screen and (max-width:642px){
  .all{
    padding: 4rem;
  }
}

@media screen and (max-width:642px){
  .all{
    padding: 3rem;
  }
}
